.mainText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 50px;
  color: rgba(241, 118, 4, 0.79);
  font-weight: bold;
  margin-top: 100px;
  margin-right: 20px;
}

.mainWindow {
  background: #fafafa;
  height: 90vh;
  width: 100vw;
}

.profileHeader {
  display: flex;
  align-items: center;
}

.accountDetails {
  font-size: 20px;
  margin-left: 40px;
  font-weight: 700;
}

.circle {
  width: 500px;
  height: 500px;
  opacity: 0.4;
  background: rgba(241, 118, 4, 0.79);
  border-radius: 50%;
}

.text {
  font-size: 30px;
  color: rgba(241, 118, 4, 0.79);
  font-weight: 800;
  width: 80%;
}

.upload {
  margin-top: 300px;
  margin-bottom: 160px;
  margin-left: 100px;
}

.input {
  width: 80%;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 30px;
}

.choose {
  margin-left: 20px;
  margin-bottom: 20px;
}

.button {
  background: rgba(108, 31, 109, 1);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}
