.mainText {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 50px;
  color: rgba(241, 118, 4, 0.79);
  font-weight: bold;
  margin-top: 100px;
  margin-right: 20px;
}

.mainWindow {
  background: #fafafa;
  height: 90vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.profileHeader {
  display: flex;
  align-items: center;
}

.accountDetails {
  font-size: 20px;
  margin-left: 40px;
  font-weight: 700;
}

.circle {
  width: 500px;
  height: 500px;
  opacity: 0.4;
  background: rgba(241, 118, 4, 0.79);
  border-radius: 50%;
}

.text {
  font-size: 30px;
  color: rgba(241, 118, 4, 0.79);
  font-weight: 800;
  width: 80%;
}

.upload {
  margin-top: 300px;
  margin-bottom: 160px;
  margin-left: 50px;
}

.input {
  width: 80%;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 30px;
}

.choose {
  margin-left: 20px;
  margin-bottom: 20px;
}

.button {
  background: #a040a1;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

.post {
  width: 500px;
  height: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.postHeader {
  display: flex;
  align-items: center;
  background: #88258a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 600px;
  margin-top: -24px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: -25px;
  height: 50px;
}

.likes {
  font-weight: 700;
  font-size: 16;
  margin-left: 10px;
  margin-top: 40px;
}

.widgets {
  height: 250px;
  border-right: solid 2px #ccc;
  padding-right: 10px;
}

.postTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.cardStyle {
  width: 80%;
  height: 220px;
  border-radius: 20px;
  margin-top: 30px;
}

.music {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.container {
  position: relative;
}

.icon {
  font-size: 30px;
  color: #fff;
}
