.backdrop {
  background: #7bf1b1;
  width: 100vw;
  height: 100vh;
}

.ellipse1 {
  position: absolute;
  width: 912px;
  height: 780px;
  background: linear-gradient(
    90.32deg,
    #7bf1b1 32.36%,
    rgba(91, 141, 163, 0.96) 96.24%
  );
  border-radius: 50%;
  left: -300px;
  top: -24px;
}

.ellipse2 {
  position: absolute;
  width: 249px;
  height: 235px;
  left: 240px;
  top: -86px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #7bf1b1 0%,
    rgba(91, 141, 163, 0.96) 100%
  );
}

.ellipse3 {
  position: absolute;
  width: 786px;
  height: 775px;
  left: 1186px;
  top: -438px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #7bf1b1 0%,
    rgba(91, 141, 163, 0.96) 100%
  );
  overflow: hidden;
}

.ellipse4 {
  position: absolute;
  width: 547px;
  height: 518px;
  left: 418px;
  top: 400px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #7bf1b1 0%,
    rgba(91, 141, 163, 0.96) 100%
  );
}

.ellipse5 {
  position: absolute;
  width: 1379px;
  height: 1209px;
  left: 1000px;
  top: 401px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(91, 141, 163, 0.96) 0%,
    #7bf1b1 100%
  );
}

.ellipse6 {
  position: absolute;
  width: 465px;
  height: 448px;
  left: 924px;
  top: 90px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #7bf1b1 0%,
    rgba(91, 141, 163, 0.96) 100%
  );
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.main {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
