.mainHeader {
  display: flex;
  align-items: center;
}

.maintitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 20px;
}

.text {
  font-size: 40px;
}

.links {
  font-size: 18px;
  font-weight: 800;
  color: #59be8d;
  margin-left: 150px;
  margin-top: 30px;
  padding: 0;
}

.activeLink {
  width: 80px;
  height: 5px;
  background: #000;
  border-radius: 30px;
  margin-left: 150px;
  margin-top: -15px;
}
