.mainHeader {
  width: 100vw;
  height: 100px;
  background: rgba(108, 31, 109, 0.79);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexboxContainer {
  display: flex;
  align-items: center;
}

.title {
  line-height: 57px;
  font-size: 38px;
  color: #ffffff;
  font-weight: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.links {
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
